<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="msg_box" style="right: 0px">
        <div class="msg_head">Live Chat</div>
        <div class="contentArea" style="display: none">
            <div class="formArea">
                <div class="title">Click to Connect Live</div>
                <form class="inputFields">                                  
                    <input type="submit" value="Connecat" class="submitBtn">
                </form>
            </div>
            <div class="chatArea" style="display: none">
                <div class="messages">
                    <div class="msg_push_old"></div>
                    <div class="msg_push_new"></div>
                </div>
                <div class='typing'></div>
                <input class="inputMessage" rows="1" placeholder="Type here..."></input>
            </div>
        </div>
    </div>
	<footer>
		<div class="footer-section">
			<p class="footer-text">  </p>
			<p class="footer-textone"><i class="fa fa-address-book-o" aria-hidden="true"></i>&nbsp;&nbsp;Powered By Chandusoft.com</p>
			
		</div>
	</footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
</body>
</html>